<p>
  <strong>Commenter:</strong>
  <%= comment.name %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= markdown(comment.text) %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>