<% @articles.reverse.each do |article| %>
  <div class="article__card">
    <a href="<%= article_path(article) %>">
      <h1 class="article--title"><%= article.title %></h1>
      <article class="article--content">
        <%= strip_tags(truncate(markdown(article.text), length: 200, escape: false)) %>
      </article>
    </a>
  </div>
<% end %>