<% @articles.each do |article| %>
  <div class="card--article">
    <h1 class="article--title"><%= article.title %></h1>
    <article class="article--content">
      <%= markdown(truncate(article.text, :length => 200)) %>
    </article>
  </div>
<% end %>