// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged-in--header {
  width: 100vw;
  background: #444 linear-gradient(to bottom, #444, #333);
  color: white;
  font-size: 14px;
  padding: 10px 0 10px 10px;
}

.logged-in--header a {
  color: #F2F2F2;
  font-size: 18px;
  text-decoration: none;
  padding: 0 5px;
}

.logged-in--header a:hover {
  color: #D2D2D2;
}

.page--header h1 {
  background-color: #D5D5D5;
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.article--card {
  position: relative;
  display: block;
  width: 550px;
  height: 360px;
  color: #444;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius: 4px;
  margin: 25px 0;
  
  h1, hr, article {
    transition: opacity 0.15s;
  }
  
  &:hover h1, &:hover hr, &:hover article {
    opacity: 0.2;
  }
  &:hover .article--read-more {
    opacity: 1;
  }
  
  .article--read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 9;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s;
  }
}