// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles--list li {
  width: 550px;
  list-style: none;
}

.article--card {
  position: relative;
  display: block;
  width: 700px;
  font-size: 18px;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius: 4px;
  margin: 25px 0;
  
  hr {
    margin: 8px 0;
  }
  
  .article--text {
    line-height: 1.3;
  }
}

.article--link-card, .article--link-card:visited {
  position: relative;
  display: block;
  width: 550px;
  max-height: 360px;
  color: #444;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #AAA;
  border-radius: 4px;
  margin: 25px 0;
  
  * {
    transition: opacity 0.1s;
  }
  
  &:hover * *:not(.article--read-more-link) {
    opacity: 0.2;
  }
  &:hover .article--read-more-link, & *:hover ~ .article--read-more-link {
    opacity: 1;
  }
  
  .article--read-more-link {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 9;
    transform: translate(-50%, -50%);
  }
  
  hr {
    margin: 8px 0;
  }
  
  .article--text {
    line-height: 1.3;
  }
}